@model IEnumerable<SongHaven.Song>
@{
    ViewBag.Title = "Search Results";
}

<h2>Search Results</h2>

@using (Html.BeginForm("SearchResults", "Song", FormMethod.Post))
{
    <br/>
    @Html.Label("Search by:")
    <select name="searchMode" id="searchMode">
        <option value="title">Title</option>
        <option value="album">Album</option>
        <option value="artist">Artist</option>
    </select>
    <br/>
    @Html.Label("Search:")
    <input type="text" name="searchString" id="searchString"/>

    <input type="submit" value="Submit"/>
}

<table class="table">
        <tr>
            <th>
                Song
            </th>
            <th>
                Artist
            </th>
            <th>
                Album
            </th>
            <th>
                Plays
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nvc_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nvc_artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nvc_album)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.int_number_of_plays)
                </td>
               @if (ViewContext.HttpContext.User.Identity.IsAuthenticated != false)
               {
                    <td>
                    @Html.ActionLink("Request","Request", "Home", new {id = item.guid_id},null)
                    </td>
               }
            </tr>
        }
    </table>
