@model IEnumerable<SongHaven.Song>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Now Playing: </h1>
        <h2>@ViewBag.NowPlaying.ToString()</h2>
</div>

<h2>Messages</h2>
@using (Html.BeginForm("newContent","Home", FormMethod.Post))
{ 
    <table class="table">
        <tr>
            <th>
                User
            </th>
            <th>
                Content
            </th>
            <th>
                Date
            </th>
        </tr>

        @foreach (var item in ViewBag.Messages)
        {
            <tr>
                <td>
                    @item.User.nvc_username                 
                </td>
                <td>
                    @item.content
                </td>
                <td>
                    @item.date_created
                </td>
            </tr>
        }

        @if (ViewContext.HttpContext.User.Identity.IsAuthenticated != false)
        {
            <tr>
                <th>
                    New Message:
                </th>
                <th>
                    <input type="text" id="newContent" name="newContent" />
                </th>
                <th>
                    <input type="submit" value="Post Message"/>
                </th>
            </tr>
        }
    </table>
}


    <h2>Request Queue</h2>

    <table class="table">
        <tr>
            <th>
                User
            </th>
            <th>
                Song
            </th>
            <th>
                Date
            </th>
        </tr>

        @foreach (var item in ViewBag.Requests)
        {
            <tr>
                <td>
                    @item.User.nvc_username                  
                </td>
                <td>
                    @item.Song.nvc_title
                </td>
                <td>
                    @item.dt_created_date
                </td>
            </tr>
        }

    </table>

    <h2>Songs</h2> 
    @using (Html.BeginForm("SearchResults", "Song", FormMethod.Post))
    {
        <br/>
        @Html.Label("Search by:")
        <select name="searchMode" id="searchMode">
            <option value="title">Title</option>
            <option value="album">Album</option>
            <option value="artist">Artist</option>
        </select>
        <br/>
        @Html.Label("Search:")
        <input type="text" name="searchString" id="searchString"/>

        <input type="submit" value="Submit"/>
    }



