@model SongHaven.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nvc_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nvc_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nvc_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nvc_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nvc_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nvc_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.int_account_strikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.int_account_strikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_date_banned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_date_banned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nvc_mvc_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nvc_mvc_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.guid_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
