@model SongHaven.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dt_created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.nvc_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.nvc_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.nvc_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.nvc_username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.guid_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
