@model IEnumerable<SongHaven.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dt_created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.nvc_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.nvc_username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dt_created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.nvc_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.nvc_username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.guid_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.guid_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.guid_id })
        </td>
    </tr>
}

</table>
